extends layout

block content
	.chart-container
		canvas#agile-graph
block scripts
	script.
		(function() {
			var agileChart = new AgileChart(document.getElementById('agile-graph'),	!{JSON.stringify(automators).replace(/<\//g, '<\\/')})
			var i = 19;			
			agileChart.addData({
				x: `11/${i}/2018`,
				y: i
			})
		})();