doctype html
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/css/style.css')
	body
		.app-header
			.app-title=title
		.app-body
			block content
		script(src="/plugins/momentjs/moment.min.js")
		script(src="/plugins/chartjs/chart.min.js")
		script(src="/js/agile-chart.js")
		block scripts
