doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
	body
		block content
		script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js")
		script(src="/js/utils.js")
		script(src="/plugins/chartjs/chart.min.js")
		block scripts
